<div class="sidebar-selector">
  <h3><a href="/">FBP</a> / <a href="/flow/<%- flowId %>"><%- flowId %></a> / Documents</h3>
  <ul>
    <% components.forEach(function(component) { %>
      <li>
        <a href="/document/<%= flowId %>/<%= component.componentId %>">
          <%= component.componentId %> (<%= component.componentRef %>)
        </a>
        <% if (componentId === component.componentId) { %>
          <div style="float: right; line-height: 0.85em;">&#8594;</div>
        <% } %>
      </li>
    <% }); %>
  </ul>
</div>