<% if (component) { %>
  <div id="<%- component.flowId %>.<%- component.componentId %>" class="component-wrapper">
    <div class="event-anchor input-anchors">
      <% component.ports.inputs.forEach((input, index) => { %>
        <% if (index !== 0) { %>
         <hr>
        <% } %>
        <div class="input-port" data-port="<%- input %>">
          <button onclick="loadConnectedComponents('input', '<%- component.flowId %>', '<%- component.componentId %>', '<%- input %>', '<%- swimlaneId %>')">input</button>
          <div class="port-name"><%- input %></div>
        </div>
      <% }) %>
    </div>
    <div class="component">
      <h2 style="margin: 0;"><%- component.componentId %> (<%- component.slug %>)</h2>
      <p style="margin: 0 0 0.5em;"><%- component.description %> </p>
      <div style="border: 1px solid #111;">
        <div id="init.<%- component.flowId %>.<%- component.componentId %>.<%- component.slug %>"
              hx-get="/template/<%- component.flowId %>/<%- component.componentId %>/<%- component.slug %>"
              hx-trigger="load"
              hx-target="this"
              hx-swap="outerHTML">
          <br /><!-- loading -->
        </div>
      </div>
    </div>
    <div class="event-anchor output-anchors">
      <% component.ports.outputs.forEach((output, index) => { %>
        <% if (index !== 0) { %>
         <hr>
        <% } %>
        <div class="output-port" data-port="<%- output %>">
          <div class="port-name"><%- output %></div>
          <button onclick="loadConnectedComponents('output', '<%- component.flowId %>', '<%- component.componentId %>', '<%- output %>', '<%- swimlaneId %>')">output</button>
        </div>
      <% }) %>
    </div>
  </div>
<% } else { %>
  <p>no component found</p>  
<% } %>

<script>
  document.addEventListener('htmx:afterSettle', function() {
    drawConnectionLines();
  });
</script>