<% if (component) { %>
  <div id="<%- component.flowId %>.<%- component.componentId %>">
    <div class="event-anchor input-anchors">
      <% component.ports.inputs.forEach((input, index) => { %>
        <% if (index !== 0) { %>
         <hr>
        <% } %>
        <button onclick="loadConnectedComponents('input', '<%- component.flowId %>', '<%- component.componentId %>', '<%- input %>', '<%- swimlaneId %>')">input</button>
        <div style="float: right;">
          <%- input %>
        </div>
        <br />
      <% }) %>
    </div>
    <div id="number-generator" class="component">
      <h2><%- component.slug %></h2>
      <p><%- component.description %> </p>
      <button hx-post="/trigger-event/<%- component.flowId %>.<%- component.componentId %>.start"
        hx-swap="none" 
        hx-ext='json-enc'
        hx-headers='{"Content-Type": "application/json"}'
        hx-vals='{}'
      >
        Start Generating
      </button>
      <button hx-post="/trigger-event/<%- component.flowId %>.<%- component.componentId %>.stop"
        hx-swap="none" 
        hx-ext='json-enc'
        hx-headers='{"Content-Type": "application/json"}'
        hx-vals='{}'
      >
        Stop Generating
      </button>
    </div>
    <div class="event-anchor output-anchors">
      <% component.ports.outputs.forEach((output, index) => { %>
        <% if (index !== 0) { %>
         <hr>
        <% } %>
        <button onclick="loadConnectedComponents('output', '<%- component.flowId %>', '<%- component.componentId %>', '<%- output %>', '<%- swimlaneId %>')" style="float: right;">output</button>
        <%- output %> <br />
      <% }) %>
    </div>
  </div>
<% } else { %>
  <p>no component found</p>  
<% } %>