<div id="<%- flowId %>.<%- componentId %>.<%- portId %>" class="swimlane-content" data-swimlane-id="<%- swimlaneId %>">
  <% if (port && port.dataMethod) { %>
    <% if (port.dataMethod === 'publish') { %>
      <% if (connections.length) { %>
        <% connections.forEach(connection => { %>
          <%- include('component', { component: connection.next, swimlaneId }); %> 
        <% }) %>
      <% } else { %>
        <br />
        <div class="component">no connections found</div>  
      <% } %>
    <% } %>
  
    <% if (port.dataMethod === 'display') { %>
      <div id="<%- flowId %>.<%- componentId %>" class="component-wrapper">
        <div class="event-anchor input-anchors">
          <div class="input-port" data-port="<%- portId %>">
            <button onclick="loadMainComponent('input', '<%- flowId %>', '<%- componentId %>', '<%- swimlaneId %>')">input</button>
            <div class="port-name">
              <%- portId %> 
            </div>
            <br>
          </div>
        </div>
        <div class="template">
          <%- templateContent %>
        </div>
      </div>
    <% } %>
  <% } else { %>
    <div>component not found</div>  
  <% } %>
</div>
