<div id="<%- flowId %>.<%- componentId %>.<%- portId %>">
  <% if (port && port.dataMethod) { %>
    <% if (port.dataMethod === 'publish') { %>
      <% if (connections.length) { %>
        <% connections.forEach(connection => { %>
          <% if (connection.connectedTo) { %>
            <%- include('component', { component: connection.connectedTo }); %> 
          <% } else { %>
            <%- include('component', { component: connection.connectedFrom }); %> 
          <% } %>
        <% }) %>
      <% } else { %>
        <br />
        <div class="component">no connections found</div>  
      <% } %>
    <% } %>
  
    <% if (port.dataMethod === 'display') { %>
      <div class="event-anchor input-anchors">
        <button onclick="loadMainComponent('<%- flowId %>', '<%- componentId %>', '<%- swimlaneId %>')">input</button>
        <div style="float: right;">
          <%- portId %> 
        </div>
        <br>
      </div>
      <div class="component">
        <div id="<%- displayHtmxId %>"></div>
      </div>
    <% } %>
  <% } else { %>
    <div>component not found</div>  
  <% } %>
</div>
