<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- message %></title>
  <script src="https://unpkg.com/htmx.org@2.0.2"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
  <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
  <%- include('style') %>
</head>
<body>
  <div id="swimlane-container" class="swimlane-container">
    <div id="main-swimlane" class="swimlane" data-index="0"
         hx-get="/documentComponent/<%= selected.flowId %>/<%= selected.componentId %>/main-swimlane"
         hx-trigger="load"
         hx-target="#main-swimlane">
      <!-- Main component will be loaded here -->
    </div>
  </div>

  <script>
    const socket = io();

    socket.on('display-flow-component-template-content', function(event) {
      const targetId = `${event.flowId}.${event.componentId}.${event.templateId}`;
      const targetElement = document.getElementById(targetId);
      console.log(targetId, event.content);
      if (targetElement) {
        targetElement.outerHTML = event.content;
        // Reinitialize HTMX on the new content
        htmx.process(document.getElementById(targetId));
      }
    });

    htmx.on("htmx:configRequest", (event) => {
      event.detail.headers['Content-Type'] = 'application/json';
    });

    // // Function to reinitialize HTMX on dynamically loaded content
    // function reinitializeHtmx(element) {
    //   htmx.process(element);
    // }

    // // Listen for HTMX after swap event
    // document.body.addEventListener('htmx:afterSwap', function(event) {
    //   reinitializeHtmx(event.detail.elt);
    // });

    // // Listen for HTMX after settle event
    // document.body.addEventListener('htmx:afterSettle', function(event) {
    //   reinitializeHtmx(event.detail.elt);
    // });
  </script>
  <%- include('methods') %> 
</body>
</html>