<div id="<%= _flowId %>.<%= _componentId %>.<%= _templateId %>">
  <p>Last received number: <%= input %></p>
  <p>Multiplied result: <%= result %></p>
  <p>Processed at: <%= new Date(timestamp).toLocaleString() %></p>
</div>