<div class="sidebar-selector">
  <h3><a href="/">FBP</a> / <a href="/flows">Flows</a> / <%- flowId %> </h3>
  <ul>
    <% components.forEach(function(component) { %>
      <li>
        <a href="/document/<%= flowId %>/<%= component.componentId %>"
           hx-get="/document/<%= flowId %>/<%= component.componentId %>"
           hx-target="body"
           hx-push-url="true">
          <%= component.componentId %> (<%= component.componentRef %>)
        </a>
      </li>
    <% }); %>
  </ul>
</div>